RewriteEngine On

RewriteBase /datadesk

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|png|jpg|csv)$

RewriteRule ^(.+)$ routing.php?uri=$1 [QSA,L]